<a href="https://colab.research.google.com/github/womaro/Story/blob/main/Computation_with_NumPy_and_N_Dimensional_Arrays_(start).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In this notebook we'll learn how to use NumPy to work with numerical data. 

<img src="https://i.imgur.com/dZ1XE9o.png" width=400>

# Import Statements

In [1]:
import numpy as np

import matplotlib.pyplot as plt
from scipy import misc # contains an image of a racoon!
from PIL import Image # for reading image files

# Understanding NumPy's ndarray

NumPy's most amazing feature is the **powerful** ndarray.

#### 1-Dimensional Arrays (Vectors)

In [2]:
my_array = np.array([1.1, 9.2, 8.1, 4.7])

In [3]:
my_array.shape

(4,)

In [4]:
my_array[2]

8.1

In [5]:
my_array.ndim

1

#### 2-Dimensional Arrays (Matrices)

In [6]:
array_2d = np.array([[1, 2, 3, 9], 
                     [5, 6, 7, 8]])

In [7]:
print(f'array_2d has {array_2d.ndim} dimensions')
print(f'Its shape is {array_2d.shape}')
print(f'It has {array_2d.shape[0]} rows and {array_2d.shape[1]} columns')
print(array_2d)

array_2d has 2 dimensions
Its shape is (2, 4)
It has 2 rows and 4 columns
[[1 2 3 9]
 [5 6 7 8]]

In [8]:
array_2d[1,2]

7

In [9]:
array_2d[0, :]

array([1, 2, 3, 9])

#### N-Dimensional Arrays (Tensors)

**Challenge**: 
* How many dimensions does the array below have? 
* What is its shape (i.e., how many elements are along each axis)?
* Try to access the value `18` in the last line of code.
* Try to retrieve a 1 dimensional vector with the values `[97, 0, 27, 18]`
* Try to retrieve a (3,2) matrix with the values `[[ 0,  4], [ 7,  5], [ 5, 97]]`

*Hint*: You can use the `:` operator just as with Python Lists.

In [10]:
mystery_array = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],
                        
                         [[7, 86, 6, 98],
                          [5, 1, 0, 4]],
                          
                          [[5, 36, 32, 48],
                           [97, 0, 27, 18]]])

# Note all the square brackets!

In [12]:
print(f'array_2d has {mystery_array .ndim} dimensions')
print(f'Its shape is {mystery_array .shape}')
print(f'It has {mystery_array .shape[0]} layers and {mystery_array .shape[1]} rows and {mystery_array .shape[2]} columns')
print(mystery_array)

array_2d has 3 dimensions
Its shape is (3, 2, 4)
It has 3 layers and 2 rows and 4 columns
[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 7 86  6 98]
  [ 5  1  0  4]]

 [[ 5 36 32 48]
  [97  0 27 18]]]

In [13]:
mystery_array[2][1][3]

18

In [14]:
mystery_array[2][1][:]

array([97,  0, 27, 18])

In [18]:
mystery_array[:,:,0]

array([[ 0,  4],
       [ 7,  5],
       [ 5, 97]])

# NumPy Mini-Challenges

#### **Challenge 1**: Use [`.arange()`](https://numpy.org/devdocs/reference/generated/numpy.arange.html)to createa a vector `a` with values ranging from 10 to 29. You should get this:

`print(a)`

`[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29]`

In [32]:
a = np.arange(10, 30, 1)
print(a)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29]

#### **Challenge 2**: Use Python slicing techniques on `a` to:
* Create an array containing only the last 3 values of `a`
* Create a subset with only the 4th, 5th, and 6th values
* Create a subset of `a` containing all the values except for the first 12 (i.e., `[22, 23, 24, 25, 26, 27, 28, 29]`)
* Create a subset that only contains the even numbers (i.e, every second number)

In [33]:
print(a[-3:])

[27 28 29]

In [34]:
print(a[3:6])

[13 14 15]

In [35]:
print(a[12:])

[22 23 24 25 26 27 28 29]

In [37]:
a1 = [x for x in a if x%2 == 0]
print(a1)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#### **Challenge 3**:Reverse the order of the values in `a`, so that the first element comes last:

`[29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13,
       12, 11, 10]`


If you need a hint, you can check out this part of the [NumPy beginner's guide](
https://numpy.org/devdocs/user/absolute_beginners.html#how-to-reverse-an-array)

In [46]:
a3 = a[::-1]
print(a3)

[29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10]

#### **Challenge 4**: Print out all the indices of the non-zero elements in this array: [6,0,9,0,0,5,0]

In [47]:
b = np.array([6,0,9,0,0,5,0])
nz = np.nonzero(b)
nz

(array([0, 2, 5]),)

#### **Challenge 5**: Use NumPy to generate a 3x3x3 array with random numbers

Hint: Use the [`.random()` function](https://numpy.org/doc/stable/reference/random/index.html?highlight=random#module-numpy.random)

#### **Challenge 6**: Use [`.linspace()`](https://numpy.org/doc/stable/reference/generated/numpy.linspace.html) to create a vector `x` of size 9 with values spaced out evenly between 0 to 100 (both included).

#### **Challenge 7**: Use [`.linspace()`](https://numpy.org/doc/stable/reference/generated/numpy.linspace.html) to create another vector `y` of size 9 with values between -3 to 3 (both included). Then plot `x` and `y` on a line chart using Matplotlib.

#### **Challenge 8**: Use NumPy to generate an array called `noise` with shape 128x128x3 that has random values. Then use Matplotlib's [`.imshow()`](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.imshow.html) to display the array as an image.

# Linear Algebra with Vectors

In [ ]:
v1 = np.array([4, 5, 2, 7])
v2 = np.array([2, 1, 3, 3])

In [ ]:
# Python Lists vs ndarrays
list1 = [4, 5, 2, 7]
list2 = [2, 1, 3, 3]

# Broadcasting and Scalars

# Matrix Multiplication with @ and .matmul()

<img src=https://i.imgur.com/LCdhmi8.png width=350>

In [ ]:
a1 = np.array([[1, 3],
               [0, 1],
               [6, 2],
               [9, 7]])

b1 = np.array([[4, 1, 3],
               [5, 8, 5]])

print(f'{a1.shape}: a has {a1.shape[0]} rows and {a1.shape[1]} columns.')
print(f'{b1.shape}: b has {b1.shape[0]} rows and {b1.shape[1]} columns.')
print('Dimensions of result: (4x2)*(2x3)=(4x3)')

(4, 2): a has 4 rows and 2 columns.
(2, 3): b has 2 rows and 3 columns.
Dimensions of result: (4x2)*(2x3)=(4x3)

**Challenge**: Let's multiply `a1` with `b1`. Looking at the wikipedia example above, work out the values for c12 and c33 on paper. Then use the [`.matmul()`](https://numpy.org/doc/stable/reference/generated/numpy.matmul.html) function or the `@` operator to check your work.

# Manipulating Images as ndarrays

**Challenge**: What is the data type of `img`? Also, what is the shape of `img` and how many dimensions does it have? What is the resolution of the image?

**Challenge**: Convert the image to black and white. The values in our `img` range from 0 to 255. 
* Divide all the values by 255 to convert them to sRGB, where all the values are between 0 and 1. 
* Next, multiply the sRGB array by the `grey_vals` to convert the image to grey scale. 
* Finally use Matplotlib's [`.imshow()`](https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.imshow.html) together with the colormap parameter set to gray `cmap=gray` to look at the results.

In [ ]:
grey_vals = np.array([0.2126, 0.7152, 0.0722])

**Challenge**: Can you manipulate the images by doing some operations on the underlying ndarrays? See if you can change the values in the ndarray so that:

1) You flip the grayscale image upside down

<img src=https://i.imgur.com/r36CigD.png>

2) Rotate the colour image

<img src=https://i.imgur.com/IiNylco.png>

3) Invert (i.e., solarize) the colour image. To do this you need to converting all the pixels to their "opposite" value, so black (0) becomes white (255).

<img src=https://i.imgur.com/cfFbuex.png>

#### Challenge Solutions

# Use your Own Image!

In [ ]:
file_name = 'yummy_macarons.jpg'

#### Use PIL to open